.title {
	text-align: center;
}

.list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 100px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding: 60px;
	background-color: lightblue;
	border: 1px solid #ccc;
	text-decoration: none;
	color: black;
	text-align: center;
	margin-bottom: 30px;
}
.items {
	margin: 5%;
}
