.container {
  background-color: #fff4ca;
  height: 768px;
}

.menu-header {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.category-container {
  flex-shrink: 0;
  width: 200px;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #333; */
  /* background-color: #f5f5f5; */
  white-space: nowrap;
}

.utilities-container {
  flex-shrink: 0;
  width: 200px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  background-color: #dadad9;
  white-space: nowrap;
}

.category-list {
  margin: 0;
  font-size: 2em;
  color: #333;
  text-align: center;
  padding: 15px 0px;
  height: 80px;
  font-weight: bold;
}

.category-button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.category-button-notactive {
  border: 1px solid #333;
  background-color: rgb(255, 204, 108);
  font-size: 1em;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.category-button-active {
  border: 1px solid #333;
  border-bottom: #fff4ca;
  background-color: #fff4ca;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.menu-list-width {
  width: 78%;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3px;
  width: 100%;
}

.product-item {
  border: 1px solid #ddd;
  width: 29%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #ffe896;
  white-space: nowrap;
}

.product-item p:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.product-item p:nth-child(2) {
  font-size: 1em;
  color: #555;
  margin-top: 5px;
}

.cart-container {
  width: 20%;
  border: 1px solid #333;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 10px;
  max-height: 600px;
  background-color: #ffe896;
}

.cart-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.cart-product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #555;
}

.cart-button {
  padding: 10px 20px;
  background-color: #ffb700;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
}

.purchase-button {
  padding: 10px 20px;
  background-color: #fbe600;
  color: #333;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.cart-quantity {
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-left-40px {
  margin-left: 40px;
}

.menu-contents {
  display: flex;
  /* justify-content: space-between; */
}

.page-button {
  background-color: transparent;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
  width: 5%;
}

.page-button-active {
  background-color: #333;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-modal {
  position: fixed;
  /* border: 1px solid #333; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  background-color: #fcfafa;
  z-index: 10;
}

.filter-button {
  padding: 20px 20px;
  background-color: #f2f2f2;
  width: 200px;
  height: 15%;
  color: #333;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #e2e2e2;
}

.filter-button-active {
  padding: 20px 20px;
  background-color: #007bff;
  color: #fff;
  width: 200px;
  height: 15%;
  border: 1px solid #0056b3;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button-active:hover {
  background-color: #0056b3;
}

.filter-modal-product-name {
  font-size: 1.2em;
  font-weight: bold;
}

.filter-modal-user-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-button {
  padding: 20px 20px;
  background-color: #f2f2f2;
  width: 200px;
  height: 15%;
  color: #333;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.productName {
  font-size: 1.2em;
  font-weight: bold;
}

.productPrice {
  font-size: 1em;
  color: #555;
}

.cart-item {
  border: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ddd;
}

.cart-items {
  overflow-y: scroll;
  max-height: 450px;
  margin-bottom: 10px;
}

.product-modal {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 70%;
  height: auto;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.product-modal-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-modal-price {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

.product-modal-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.product-modal-allergies {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.product-modal-allergies-item {
  display: inline-block;
  margin-right: 10px;
}

.product-modal-allergies-pre {
  margin-right: 10px;
}

.product-modal-content {
  display: flex;
  padding: 20px;
}

.product-modal-details {
  flex: 3;
  margin-right: 20px;
}

.product-modal-image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.login-modal {
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.confirm-login-modal {
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 60%;
  max-height: 80%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.login-modal-title {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

.div {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.username {
  font-size: 1.3em;
  margin-top: 10px;
}

.login-user {
  margin-left: 50px;
}

.login-user-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 40px;
}

.div > * {
  flex-basis: 50%; /* 子要素の基本幅を50%に設定 */
}

.confirm-login-user {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.confirm-login-modal {
  border-radius: 20px;
}

.confirm-login-button-accept {
  padding: 10px 20px;
  background-color: #ffb700;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.confirm-login-button-cancel {
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  margin-left: 30px;
}

.order-check-modal {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 40%;
  max-height: 80%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.order-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-modal-button {
  padding: 10px 20px;
  background-color: #ffb700;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  margin-left: 11px;
}

.order-button-container {
  display: flex;
  padding: 10px;
}

.errorModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.errorModalText {
  margin-bottom: 20px;
}

.errorModalButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.productImage {
  width: 100%;
  height: 65%;
  border-radius: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-container button {
  margin-left: 20px;
  margin-right: 20px;
}

.page-move-button {
  background-color: transparent;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  width: 5%;
  padding: 3px 10px;
}

.page-move-active {
  border: 1px solid #333;
}

.page-move-active:disabled {
  border: 1px solid #dadad9;
  .button-text {
    color: #dadad9;
  }
}

.button-text {
  font-weight: bold;
}

.current-page-info {
  border: 1px solid #333;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.check-accounting {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.check-accounting-modal {
  background-color: #fff;
  /* border: 1px solid #333; */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 50%;
  height: 23%;
  overflow-y: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.check-accounting-contents {
  margin-top: 5%;
}

.check-accounting-button {
  padding: 10px 20px;
  background-color: #ffb700;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 45%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-size: 1.2rem;
}

.outside-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calling-modal {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: auto;
  height: auto;
  overflow-y: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.calling-text {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.calling-button {
  padding: 10px 20px;
  background-color: #ffb700;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-size: 1rem;
}

.order-history-modal {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.order-history-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-history-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1.2em;
  color: #555;
}

.order-history-item-div {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #555;
}

.order-history-item-sum {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #555;
}

.order-history-item-sum-all {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  color: #555;
}

.modal-close-button {
  position: relative;
  /* bottom: 10px; */
  left: 40%;
  font-size: 1.5em;
  size: 1.5em;
  cursor: pointer;
  width: 25%;
  padding: 10px 0px;
}

.flex {
  display: flex;
}

.payment-modal {
  background-color: #fff4ca;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.payment-contents {
  /* margin-top: 10%; */
  background-color: #f2f2f2;
  border-radius: 15px;
  text-align: center;
  padding: 5%;
  align-items: center;
  height: 30%;
  width: 100%;
  margin-top: 200px;
}

.payment-text {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.payment-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.tableName {
  font-weight: bold;
}

/* 表示用端末(タブレットに反映させる用のメディアクエリ) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .product-item {
    border: 1px solid #333;
    width: 30%;
    height: 280px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .productImage {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
  }
}
