.header {
  background-color: #ffffff; /* ヘッダーの背景色 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 横方向にセンター寄せ */
  text-align: center; /* テキストもセンター寄せ */
}

.store-name {
  color: #13b8ff;
  margin-top :41px;
}

.link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
  width: 100%; /* 画面に合わせる */
  border: #000000 solid 2px;
  background-color: #7fe8fb;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-font {
  text-decoration: none; /* リンクの下線を削除 */
  color: #545454; /* リンクの文字色 */
  font-size: 20px; /* フォントサイズ */
  line-height: 2; /* 行の高さ */
  font-weight: bold; /* フォントの太さ */
}

/* 垂直方向の線 */
.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px; /* 線の太さ */
  background-color: #000000; /* 線の色 */
}

/* 水平方向の線 */
.link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px; /* 線の太さ */
  background-color: #000000; /* 線の色 */
}

/* 2列目以降のリンクには左側の垂直線を表示しない */
.link:nth-child(odd)::before {
  display: none;
}

/* 以下はリンクの位置調整 */
.link:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.link:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.link:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.link:nth-child(4) {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) and (orientation: portrait) {
  .header {
    padding: 0px;
  }

  .store-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .link {
    gap: 8px;
    padding: 8px;
    margin-top: 3px;
  }

  .link-font {
    font-size: 18px;
  }

}