.base {
  background-color: #f5f5dc;
  width: 100%;
  height: 100vh;
}

.EmployeeButton {
  position: fixed;
  top: 10px;
  left: 10px;
}
.persons {
  text-align: center;
  width: 100%; /* 幅を100%に調整 */
  max-width: 400px; /* 最大幅を指定 */
}

.container {
  background-color: #f5f5dc;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: fixed;
  top: 80px;
  /* right: 440px; */
  font-size: 72px;
  right: 370px;
}

.selectionArea {
  display: flex;
  justify-content: center;
  gap: 125px;
}

.personSelection {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 100px;
}

.icon {
  font-size: 100px;
}

.newline ::after {
  white-space: pre;
}

.humanlabel {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  text-align: center;
  margin-right: -160px;
  margin-left: -70px;
}

.changeButton {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 50px;
  border-radius: 100%;
  width: 110px;
  height: 110px;
}

.numberDisplay {
  min-width: 20px;
  text-align: center;
}

.employeeButton {
  background-color: #ced7e1;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 50px;
  position: fixed;
  bottom: 72px;
  right: 430px;
}

.submitButton:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}

.errorModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.errorModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.errorModalText {
  margin-bottom: 20px;
}

.errorModalButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.warningModal {
  position: fixed;
  width: 80%;
  max-width: 80%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  top: 10%;
  left: 10%;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 警告モーダルコンテンツのスタイル */
.warningModalContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* 警告タイトルのスタイル */
.warningTitle {
  color: #dc3545; /* 赤色系で注意を引く */
  font-size: 20px; /* タイトルのフォントサイズ */
  margin-bottom: 15px; /* タイトル下の余白 */
  font-weight: bold; /* 文字を太くする */
}

/* 警告テキストのスタイル */
.warningText {
  color: #333; /* テキストの色 */
  font-size: 16px; /* テキストのフォントサイズ */
  line-height: 1.5; /* 行間 */
  margin-bottom: 10px; /* 段落間の余白 */
}

/* 閉じるボタンのスタイル */
.closeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  height: 60px;
  margin-top: 30px;
}

/* ボタンホバー時のスタイル変更 */
.closeButton:hover {
  background-color: #0056b3; /* ホバー時の背景色を少し暗く */
}
