.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.order-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 30px;
}

.order-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  width: 30%;
  overflow-y: auto;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* ホバー時に影を強調 */
}

.order-header h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px; /* タイトル下のスペースを増やす */
}

.order-details {
  list-style: none; /* リストのスタイルを無効にする */
  padding: 0;
  margin: 20px 0; /* リスト上下のスペースを増やす */
}

.order-details li {
  font-size: 16px;
  margin-bottom: 10px; /* アイテム間のスペースを増やす */
  line-height: 1.5; /* 行間を広げる */
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* ボタンのフォントサイズを調整 */
  transition: background-color 0.3s ease; /* 背景色の遷移を滑らかにする */
}

.button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* モーダル背景暗めに */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 40px; /* モーダル内パディング増量 */
  border-radius: 10px; /* ボーダーの丸み増量 */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* 影の強調 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 80%;
  overflow-y: auto;
}

.status,
.status-active {
  border: none;
  color: #fff;
  padding: 10px 15px; /* ステータスボタンのパディング増量 */
  margin-right: 10px; /* 右マージン増量 */
  cursor: pointer;
  border-radius: 5px; /* ボタンの丸みを増やす */
}

.status {
  background-color: #6c757d;
}

.status-active {
  background-color: #28a745;
}

.status:hover,
.status-active:hover {
  opacity: 0.85;
}

.order-details li {
  display: flex; /* 各行をFlexboxコンテナに */
  justify-content: space-between; /* アイテムを行内で均等に分散 */
  align-items: center; /* アイテムを垂直方向に中央揃え */
  margin-bottom: 10px; /* 下部の余白を設定 */
}

.filterSelect {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
